<div class="left-part">
  <section class="user info">
    <h1 class="title">夏辉</h1>
    <p class="tips">Java后端工程师</p>
  </section>
  <section class="info">
    <h4 class="title"><span class="label">基本信息</span></h4>
    <div class="line"></div>
    <p class="text"><span class="label">教育经历：</span>北京邮电大学（2015-2018）</p>
    <p class="text"><span class="label">工作年限：</span>2.5年</p>
    <p class="text"><span class="label"><img class="t-icon" src="/img/phone.png"/>电话：</span>18813168371</p>
    <p class="text"><span class="label"><img class="t-icon" src="/img/mail.png"/>邮箱：</span>515065283@qq.com</p>
    <br/>
    <p class="text"><span class="label"><img class="t-icon" src="/img/leetcode.png"/>力扣：</span><a href="https://leetcode-cn.com/u/xia-hui-5/">leetcode-cn.com/u/xia-hui-5</a></p>
  </section>
</div>
