<%- include('header')%>
<% if(env!=='dev'){ %>
  <link rel="stylesheet" href="/resume.css">
<% } %>
  <div class="resume">
    <%- include('leftPart')%>
    <%- include('rightPart')%>
  </div>
  <script src="/resume_build.min.js"></script>
<%- include('footer')%>
