<div class="right-part">
  <section class="info">
    <h3 class="title"><span class="label">技能树</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>前端技能</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练滑水</span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>软技能</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">深耕业务, 能够准确认识到业务场景的不足之处并用技术解决</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">喜欢研究新的东西（babeljs.io常驻收藏夹）, 思考新的东西的应用场景以及对现有业务场景的影响</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">对所掌握的技术都有比较深刻的理解, 知道每一项技术是专门解决什么问题的, 并且能够正确使用（很多场景由于引入新技术的使用方式不正确而南辕北辙）</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">对前端性能优化有自己的思考与实践（size大小引起的网络性能问题, 技术的不合理使用与不合理编码带来的运行性能问题, 数据不合理处理带来的操作与请求性能问题）</span></p>
      </div>
    </section>
  </section>
  <section class="info">
    <h3 class="title"><span class="label">工作经历</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>敬癫科技</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">维护吃屎平台</span></p>
      </div>
    </section>
  </section>
  <section class="info">
    <h3 class="title"><span class="label">个人项目</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>房产交易信息爬取并数据可视化（<a class="link" href="https://github.com/lidad/climb-property">查看源码：github.com/lidad/climb-property</a>）</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info"><img class="intro-img" src="/img/fang.jpg"/></span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">使用cheerio爬取链家网杭州滨江与上海的二手房交易信息</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">express作为服务器框架, mongoDB存储爬取信息, echarts进行数据可视化</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">webpack构建代码, 支持HMR, 一键部署</span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>跑路记（<a class="link" href="https://github.com/lidad/bro-sta">查看源码：github.com/lidad/bro-sta</a>）</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info"><img class="intro-img" src="/img/oldbro.jpg"/></span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">一个基于戒赌吧老哥日常的单页面移动端小游戏</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">使用vue cli搭建, vuex做状态管理</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">使用rem进行移动端浏览器适配</span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>线上简历（<a class="link" href="https://github.com/lidad/make-resume">查看源码：github.com/lidad/make-resume</a>）</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">即本简历效果</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">express服务器框架, ejs作为模版文件, sass预处理样式, postcss后处理</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">框架已经搭建完毕, 支持HMR, 可以作为个人网站继续开发</span></p>
      </div>
    </section>
  </section>
</div>
