<div class="right-part">
  <section class="info">
    <h3 class="title"><span class="label">技能树</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>前端技能</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练滑水</span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>软技能</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">帅</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">聪明</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">打字快</span></p>
      </div>
    </section>
  </section>
  <section class="info">
    <h3 class="title"><span class="label">工作经历</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>敬癫科技</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">维护吃屎平台</span></p>
      </div>
    </section>
  </section>
  <section class="info">
    <h3 class="title"><span class="label">个人项目</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>跑路记</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">基于vue的跑路游戏</span></p>
      </div>
    </section>
  </section>
</div>
