<div class="right-part">
  <section class="info">
    <h3 class="title"><span class="label">技能树</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>前端技能</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练使用 es6, es7（async await，decorator...），能够脱离框架进行原生开发</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练使用 react（熟练程度：生命周期，diff 算法，无状态组件，immutable，pure render，HOC）能够在理解 react 核心的基础上保证整个 app 的高性能；根据业务场景需求使用 HOC 来编写高可维护性的热插拔组件</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练使用 react-redux，能够使用redux搭配其他工具（如 rxjs）构建前端数据层，同时可以运用 redux 思想脱离 redux 来实现应用状态管理</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练使用 react-router，对SPA的应用场景有自己的认识，能够恰当处理 code splitting（如根据用户访问行为变化调整分割策略、增加版本等），同时可以脱离 react-router 实现简单的应用路由管理</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练使用 jQuery</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟悉并使用 vue， vuex 及 vue-router。能够使用vue及相关技术栈构建符合业务场景的应用</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟悉并使用 webpack 构建工具，熟悉并使用 sass 预处理工具</span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>后端技能</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">了解并使用 node express，mongoDB </span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>软技能</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">深耕业务，能够准确认识到业务场景的需求与不足之处并用技术解决</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">对所掌握的技术都有较为深刻的理解，知道每一项技术是专门解决什么问题的，并且能够正确使用（很多场景正是由于引入新技术的使用方式不正确而南辕北辙）</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">对前端性能优化有自己的思考与实践（首屏加载速度，size大小引起的网络性能问题，技术的不合理使用与不合理编码带来的运行性能问题，数据不合理处理带来的操作与请求性能问题）</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">喜欢研究新的东西，思考新东西的应用场景以及对现有业务场景的影响</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">有一定的代码洁癖，编码规范的拥趸者，致力于在众多项目中寻找标准，思考为什么</span></p>
      </div>
    </section>
  </section>
  <section class="info">
    <h3 class="title"><span class="label">工作经历</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>上海连享<span class="gap">C端前端leader</span><span class="gap">2016.04 ~ 至今</span></h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info"><img class="intro-img" src="/img/cafe_intro.jpg"/></span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">公司主要业务是基于微信公众号的咖啡电商与社交，均为移动端h5页面</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">使用 react + sass + webpack 搭建了前端开发架构</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">完成从以往的 jsp + jQuery 架构向新架构的迁徙工作（随着业务迭代）</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">根据业务需求及开发需要及时调整脚手架（数据处理，页面加载等）及前端架构（打包策略等），前端成员能专心于业务实现，且整个应用能够保持较高性能</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">深层次分析需求。新的需求能以最优雅、最高效的方式实现，整个前端架构拥有极高的可维护性</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">分析用户行为并在架构上作出调整（code splitting的打包策略，数据处理策略等）以使保证用户体验</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info"><img class="intro-img" style="height: 160px; margin-top: -5px; margin-bottom: -16px;" src="/img/cafe_code.jpg"/>项目二维码（请使用微信扫描）</span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>avepoint上海办公室<span class="gap">前端工程师</span><span class="gap">2015.05 ~ 2016.04</span></h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">开发并维护微软 azure 平台上的 marketing event 项目（一个企业管理应用，架构为asp.net + jQuery）</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">为项目引入 bootstrap 来提高前端开发效率</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">提取公共的样式组件，组建了自己的UI库，且提供了一套响应式解决方案（sass 封装 media query）</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">开发一些小控件并发布在公司内部工具平台</span></p>
      </div>
    </section>
  </section>
  <section class="info">
    <h3 class="title"><span class="label">个人项目</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>房产交易信息爬取并将数据可视化<a class="link" href="https://github.com/lidad/climb-property">查看源码（github.com/lidad/climb-property）</a></h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">使用cheerio爬取链家网杭州滨江与上海地区的二手房交易信息</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">express作为服务器框架，mongoDB存储爬取信息，echarts进行数据可视化</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">webpack构建代码，支持HMR</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info"><img class="intro-img" src="/img/fang.jpg"/></span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>跑路记<a class="link" href="https://github.com/lidad/bro-sta">查看源码（github.com/lidad/bro-sta）</a></h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info"><img class="intro-img" src="/img/oldbro.jpg"/></span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">一个基于戒赌吧老哥日常的单页面移动端小游戏</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">使用vue cli搭建，vuex做状态管理</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">使用rem进行移动端浏览器适配</span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>线上简历<a class="link" href="https://github.com/lidad/make-resume">查看源码（github.com/lidad/make-resume）</a></h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">即本简历效果</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">express作为服务器框架，ejs作为模版文件，sass预处理样式，postcss autoprefixer后处理</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">框架已经搭建完毕，支持HMR，可以作为个人网站继续开发</span></p>
      </div>
    </section>
  </section>
</div>
