<div class="right-part">
  <section class="info">
    <h3 class="title"><span class="label">技能树</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>前端技能</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练使用 es6, es7（async await，decorator），能够脱离框架进行开发</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练使用 react（熟练程度：生命周期，diff 算法，无状态组件，immutable，pure render，HOC）能够在理解 diff 的基础上保证整个 app 的高性能，根据业务场景需求使用高阶组件设计模式来编写高可维护性的热插拔组件</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练使用 react-redux，能够使用redux搭配其他工具（如 rxjs）构建前端数据层，同时可以运用redux思想脱离redux来实现应用状态管理</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟练使用 react-router，对SPA的应用场景有自己的认识，能够恰当处理code splitting（如根据用户访问行为变化调整分割策略、增加版本等），同时可以脱离react-router实现简单的应用路由管理</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟悉使用 vue（熟悉程度：生命周期，diff算法）, vuex 及 vue-router，能够使用vue及相关技术栈搭建符合业务场景的应用</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">熟悉使用 webpack构建工具，熟悉使用sass预处理工具</span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>后端技能</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">了解并使用 node express，mongoDB </span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>软技能</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">深耕业务，能够准确认识到业务场景的需求与不足之处并用技术解决</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">对所掌握的技术都有较为深刻的理解，知道每一项技术是专门解决什么问题的，并且能够正确使用（很多场景正是由于引入新技术的使用方式不正确而南辕北辙）</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">对前端性能优化有自己的思考与实践（size大小引起的网络性能问题，技术的不合理使用与不合理编码带来的运行性能问题，数据不合理处理带来的操作与请求性能问题）</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">喜欢研究新的东西（babeljs.io常驻收藏夹），思考新东西的应用场景以及对现有业务场景的影响</span></p>
      </div>
    </section>
  </section>
  <section class="info">
    <h3 class="title"><span class="label">工作经历</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>敬癫科技</h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">维护吃屎平台</span></p>
      </div>
    </section>
  </section>
  <section class="info">
    <h3 class="title"><span class="label">个人项目</span></h3>
    <div class="line"></div>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>房产交易信息爬取并数据可视化<a class="link" href="https://github.com/lidad/climb-property">查看源码（github.com/lidad/climb-property）</a></h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info"><img class="intro-img" src="/img/fang.jpg"/></span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">使用cheerio爬取链家网杭州滨江与上海的二手房交易信息</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">express作为服务器框架，mongoDB存储爬取信息，echarts进行数据可视化</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">webpack构建代码，支持HMR</span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>跑路记<a class="link" href="https://github.com/lidad/bro-sta">查看源码（github.com/lidad/bro-sta）</a></h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info"><img class="intro-img" src="/img/oldbro.jpg"/></span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">一个基于戒赌吧老哥日常的单页面移动端小游戏</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">使用vue cli搭建，vuex做状态管理</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">使用rem进行移动端浏览器适配</span></p>
      </div>
    </section>
    <section class="content">
      <h4 class="con-title"><b class="ball-icon"></b>线上简历<a class="link" href="https://github.com/lidad/make-resume">查看源码（github.com/lidad/make-resume）</a></h4>
      <div class="text-group">
        <p class="text"><b class="ball-icon"></b><span class="text-info">即本简历效果</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">express作为服务器框架，ejs作为模版文件，sass预处理样式，postcss autoprefixer后处理</span></p>
        <p class="text"><b class="ball-icon"></b><span class="text-info">框架已经搭建完毕，支持HMR，可以作为个人网站继续开发</span></p>
      </div>
    </section>
  </section>
</div>
