@import "./leftPart.scss";
@import "./rightPart.scss";

body {
  font-family: PingFang TC,Avenir Next,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,sans-serif;
  background-color: #EEEEEE;

  p {
    margin: 0;
    color: #F2FFFF;
    font-size: 15px;
  }

  a {
    text-decoration: none;
    color: #F2FFFF;
  }
}

section {
  display: inline-block;
}

.resume {
  width: 1060px;
  margin: 0 auto;
  position: relative;
}
