@import  "./leftPart.scss";

body {
  font-family: PingFang TC,Avenir Next,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,sans-serif;
  background-color: #EEEEEE;

  p {
    margin: 0;
    color: #F2FFFF;
    font-size: 12px;
  }

  a {
    text-decoration: none;
    color: #F2FFFF;
  }
}

section {
  display: inline-block;
}
