.right-part {
  position: relative;
  left: 29%;
  padding: 30px 20px 40px 5px;
  width: calc(71% - 25px);
  background-color: #FFFFFF;

  .info {
    display: block;
    padding-bottom: 15px;

    .title {
      margin: 0;
      padding-left: 25px;
      color: #445565;

      .label {
        background-color: #FFFFFF;
        padding: 0 5px;
      }
    }

    .line {
      margin-top: -12px;
      margin-bottom: 21px;
      border-top: 2px solid #445565;
    }

    .content {
      display: block;
      padding-left: 15px;
      margin-bottom: 15px;

      .con-title {
        margin: 0;
        color: #445565;

        .gap {
          margin-left: 30px;
        }
      }

      .ball-icon {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #445565;
        vertical-align: top;
        margin-right: 14px;
        margin-top: 6px;
      }

      .text-group {
        border-left: 2px solid #445565;
        margin-left: 3px;

        .text {
          color: #8c8b8b;
          padding-left: 14px;
          line-height: 21px;
          margin: 7px 0;

          .ball-icon {
            border-radius: 50%;
          }

          .text-info {
            margin-left: -2px;
            width: calc(100% - 22px);
            display: inline-block;
          }

          .intro-img {
            height: 230px;
          }
        }
      }

      .link {
        color: #445565;
        font-size: 15px;
        margin-left: 20px;
      }
    }
  }
}
